# Terraform
**/.terraform/*
*.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Sensitive files
*.tfvars
*.tfbackend
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
AGENTS.md