bucket         = "aws-devops-project-dev-s3-backend"
key            = "dev/terraform.tfstate"
region         = "ap-southeast-1"
encrypt        = true
use_lockfile   = true
assume_role = {
	role_arn = "arn:aws:iam::935322848615:role/Aws-Devops-ProjectS3BackendRole"
}