aws_region  = "ap-southeast-1"
aws_profile = "your-sso-profile"

project_name = "aws-devops-project"
environment  = "dev"

public_subnet_cidrs = {
  public_a = "10.0.1.0/24"
  public_b = "10.0.2.0/24"
}
